<form class="{{cssClass}} flexcol" autocomplete="off">
    <header class="sheet-header">
        <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Student's Name" /></h1>
    </header>
</form>
