.COLLEGIATE-headers {
    border: 2px groove #eeede0;
}

.COLLEGIATE-label {
    text-align: left;
    font-size: 14px;
    font-weight: 500;
}

.COLLEGIATE-relationship {
    flex: 0 0 80px;
    font-size: 12px;
    text-align: center;
    border-right: 1px solid #c9c7b8;
    word-break: break-word;
    overflow: auto;

    &:last-child {
        border-right: none;
    }

    &.COLLEGIATE-relationship-action {
        flex: 0 0 100px;
    }

    &.COLLEGIATE-relationship-points {
        flex: 0 0 40px;
    }

    &.COLLEGIATE-relationship-type {
        flex: 0 0 80px;
    }

    &.COLLEGIATE-relationship-inspiration {
        flex: 0 0 80px;
    }

    &.COLLEGIATE-relationship-effect {
        flex: 0 0 240px;
    }
}

.COLLEGIATE-exam {
    flex: 0 0 80px;
    font-size: 12px;
    text-align: center;
    border-right: 1px solid #c9c7b8;
    word-break: break-word;
    overflow: auto;

    &:last-child {
        border-right: none;
    }

    &h4 {
        flex: 0 0 80px;
    }

    &.relationship-action {
        flex: 0 0 120px;
    }
}

.COLLEGIATE-name {
    cursor: pointer;
    flex: 0 0 140px;

    &.rollable:hover .relationship-image {
        background-image: url("../../icons/svg/d20-grey.svg") !important;
    }

    &.rollable .relationship-image:hover {
        background-image: url("../../icons/svg/d20-black.svg") !important;
    }

    i.attuned {
        color: Crimson;
    }

    i.not-attuned {
        color: Tan;
    }

    h4 {
        line-height: 30px;
    }
}

.COLLEGIATE-list {
    padding: 0 10px;
}

.COLLEGIATE-controls {
    text-align: center;
}

.COLLEGIATE-controls a.COLLEGIATE-relationship-create {
    flex: 0 0 100%;
}

.COLLEGIATE-section {
    outline: 2px solid #c9c7b8;
}

.COLLEGIATE-subsection {
    outline: 1px groove;
    padding: 7px;
    margin: 7px;
}

.COLLEGIATE-input {
    margin: 5px;
    padding: 2px;
}

.COLLEGIATE-sheet-image {
    height: 100px;
    width: 100px;
}

.COLLEGIATE-header {
    margin: 10px;
}
